body {
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  color: #f8f2d5;
  line-height: 1.3;
  margin-top: 50px;
  text-shadow: 0 1px 0 green, 0 2px 0 green, 0 3px 0 green,
      0 4px 0 green, 0 5px 0 green, 0 6px 0 green, 0 7px 0 green,
      0 8px 0 green, 0 9px 0 green, 0 50px 30px rgba(0, 0, 0, 0.3);
}
#level-title:hover {
  cursor: pointer;
}
.mobile {
  display: none;
}
.add-margin {
  margin: 1% 3% 5%;
}

.container {
  display: block;
  margin-top: 80px;
}

.btn {
  margin: 20px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.rules {
  font-family: "Press Start 2P", cursive;
  color: rgb(245, 203, 151);
  text-align: left;
  margin-top: 160px;
}
.rules li {
  margin: 30px;
  line-height: 2;
}
h2 {
  text-align: center;
  color: white;
}
.pop-up {
  animation: pop-up 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes pop-up {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateY(-50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 red, 0 2px 0 red, 0 3px 0 red,
      0 4px 0 red, 0 5px 0 red, 0 6px 0 red, 0 7px 0 red,
      0 8px 0 red, 0 9px 0 red, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

.blink {
  animation: blinker 2s linear infinite;
}
.clickable {
  pointer-events: none;
}
@keyframes blinker {
  50% {
    opacity: 0;
    text-shadow: 0 1px 0 red, 0 2px 0 red, 0 3px 0 red,
      0 4px 0 red, 0 5px 0 red, 0 6px 0 red, 0 7px 0 red,
      0 8px 0 red, 0 9px 0 red, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
.invisible {
  display: none;
}
.help p {
  margin: 0;
  padding: 5px;
  text-align: left;
  font-family: "Press Start 2P", cursive;
  font-size: 1em;
  color: lawngreen;
}
.help p:hover {
  cursor: pointer;
}
.success {
  background-color: rgb(4, 159, 4);
  opacity: 0.8;
}
#dialog li {
  line-height: 1.4;
  margin: 20px 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  #level-title {
    margin-top: 30px;
    font-size: 1em;
    line-height: 2;
  }
  .laptop {
    display: none;
  }
  .mobile {
    display: inline;
  }
  #level-title:before {
    content: "";
  }
  .container {
    margin-top: 100px;
  }
  h2 {
    font-size: 1em;
    margin-bottom: 10px;
  }
  .rules li {
    margin: 10px 5px 30px 0;
    line-height: 2;
    font-size: 0.7em;
    text-align: left;
  }
  .btn {
    margin: 15px;
    height: 130px;
    width: 130px;
    border: 5px solid black;
  }
  .help p {
    margin-bottom: 50px;
    padding: 5px;
    text-align: left;
    font-family: "Press Start 2P", cursive;
    font-size: 0.8em;
    color: lawngreen;
  }
}
